schedules:
  - cron: "0 1 * * *"
    displayName: Nightly
    branches:
      include: 
      - master
    always: true
  
trigger:
  batch: true
  branches:
    include:
    - master
pr:
  branches:
    include:
    - '*'
  paths:
    exclude:
    - '.github/*'

variables:
  buildNumber: $[counter(variables['packageVersion'], 1)]
  packageVersion: '0.1.3'
  packageVersionDev: $(packageVersion).$(buildNumber)

stages:
- stage: BuildandTest
  displayName: 'Build test and package extension'
  jobs:
  - job: Build
    pool: 
      vmImage: 'ubuntu-latest'

    steps:
    - script: echo "##vso[build.updatebuildnumber]$(packageVersionDev)"
      displayName: 'Set build number'

    - task: replacetokens@3
      inputs:
        targetFiles: '**/azure-devops-extension*.json'

    - task: NodeTool@0
      inputs:
        versionSpec: '12.x'
      displayName: 'Install Node.js LTS'

    - script: |
        npm install
        npx lerna bootstrap
        npx lerna run compile
      displayName: 'Build'

    - script: ''
      displayName: 'Test'

    - script: |
        npm run package -- --output-path $(Build.ArtifactStagingDirectory)/prod
      displayName: 'create production extension'
    - script: |
        npm run package:dev -- --output-path $(Build.ArtifactStagingDirectory)/dev
      displayName: 'create development extension'

    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)'
        artifact: 'mutation-report-publisher'

- template: 'pipeline-templates/deployment-stage.yml'
  parameters: 
    name: 'dev'
    environment: 'Visual studio marketplace development'
    vsixFilePattern: 'mutation-report-publisher/dev/*.vsix'
    isTestPackage: 'true'
- template: 'pipeline-templates/deployment-stage.yml'
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
  parameters: 
    name: 'prod'
    environment: 'Visual studio marketplace production'
    vsixFilePattern: 'mutation-report-publisher/prod/*.vsix'
    isTestPackage: 'false'
